/* panels.css */
.panel {
  width: 100vw;
  height: 100vh;
}
.panel-long {
  width: 100vw;
}
/* If is is 600px or less, the panel will be 600px tall*/
/* Aka the panel will be no smaller than 600px*/
@media (max-height: 600px) {
  .panel {
    height: 600px;
  }
}

#about-panel {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3b3094+14,1f8982+91 */
  background: var(--pink); /* Old browsers */
  background: linear-gradient(to bottom, var(--pink) 7%, var(--orange) 30%, var(--mauve) 100%);
}
#resume-panel {
  background-color: var(--beige);
}
#contact-panel{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3b3094+0,e14154+100 */
  background: var(--pink); /* Old browsers */
  background: linear-gradient(to bottom, var(--pink) 7%, var(--orange) 30%, var(--mauve) 100%);
}
#projects-panel  {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#efefef+0,e6e6e6+100 */
  background: var(--cream); /* Old browsers */
  background: linear-gradient(to bottom, var(--cream) 10%, var(--beige) 70%);
}
#designs-panel {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#efefef+0,e6e6e6+100 */
  background-color: var(--beige); /* Old browsers */
  background: linear-gradient(to bottom, var(--cream) 10%, var(--beige) 70%);
}
