/* paths.css */
svg  {
  position: absolute;
}
#about-panel path {
  fill: var(--green);
}
#resume-panel path {
  fill: var(--mauve);
}
#contact-panel path {
  fill: var(--beige);
}
#projects-panel path {
  fill: var(--mauve);
}
#designs-panel #top {
  fill: var(--beige);
}
#footer-path path {
  fill: var(--green);
  position: absolute;
}
.squiggle {
  position: absolute;
  width: 100%;
}
