* {
  font-family: 'Cutive Mono', monospace;
}
p {
  font-family: 'Montserrat', sans-serif;
}

/* colors used throughout */
:root {
  --pink: #FF5C79;
  --orange: #FF6C5B;
  --mauve: #EB9287;
  --green: #005961;
  --blue: #74B9B1;
  --beige: #F4EADD;
  --cream: #FFF7EE;
  --white: #FFFFFF;

  --transparent: hsla(34, 9%, 96%, 0.2);
  --off-white: hsla(34, 9%, 96%, 0.7);
}

.green {
  background-color: var(--green);
}
.blue {
  background-color: var(--blue);
}
.pink {
  background-color: var(--pink);
}
.mauve {
  background-color: var(--mauve);
}
.beige {
  background-color: var(--beige);
}
.light-green {
  background-color: var(--light-green);
}
.light-purple {
  background-color: var(--light-purple);
}
.light-yellow {
  background-color: var(--light-yellow);
}

.transparent {
  background-color: var(--transparent);
}
.off-white {
  background-color: var(--off-white);
}
